In [1]:
#count the first ten integers
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
# find the squares of numbers from 2 to 8
num = 2
while num <= 8:
    print(num**2)
    num += 1

4
9
16
25
36
49
64

In [4]:
# The total sum of positive integers that will be equal to 55
total_sum = 0
for i in range(11):
    total_sum += i
    
print('The sum of numbers from 0 to 10 is:', total_sum)

The sum of numbers from 0 to 10 is: 55

In [7]:
# break and continue example
numb = [12, 75, 150, 180, 145, 525, 50]
for y in numb:
    if y > 500:
        break
    elif y > 150:
        continue
    elif y % 5 == 0:
        print(y)

75
150
145

In [10]:
numb = [12, 75, 150, 180, 145, 525, 50]
for y in numb:
    if y % 5 == 0:
        print(y)

75
150
180
145
525
50

In [12]:
numb = [12, 75, 150, 180, 145, 525, 50]
for y in numb:
    if y > 500:
        break
    elif y < 150:
        continue
    elif y % 5 == 0:
        print(y)

150
180

In [14]:
num = 2
while num <= 12:
    print(num**2)
    num += 1

4
9
16
25
36
49
64
81
100
121
144

In [16]:
#Check how many times a given number can be divided by 3 before it is less than or equal to 10.

count = 0
numb = 180
while numb > 10:
    numb = numb / 3
    count = count + 1
print('total iteration required',count)

total iteration required 3

In [18]:
count = 0
numb = 180
while numb > 10:
    numb = numb / 3
    count = count + 1
print('total iteration required',count)

total iteration required 3

In [21]:
count = 0
numb = 180
while numb > 10:
    numb = numb / 3
    count = count + 1
print('total iteration required', count)

total iteration required 3

In [23]:
for number in range(15):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [25]:
# Print sum of all even numbers from 10 to 20
sum = 0
for i in range(2, 22, 2):
    sum = sum + i
    print(sum)

2
6
12
20
30
42
56
72
90
110

In [27]:
numbers = [1,2,3,4,5]
for i in numbers:
    square = i**2
    print(square)

1
4
9
16
25

In [29]:
# Calculate the square of each gigs of list
gigs = [1,3,5,7,9,10]
for i in gigs:
    square = i**2
    print('square of:', i, 'is:', square)

square of: 1 is: 1
square of: 3 is: 9
square of: 5 is: 25
square of: 7 is: 49
square of: 9 is: 81
square of: 10 is: 100

In [31]:
# Calculate the average of the list of numbers

numbers = [10, 20, 30, 40, 50]
sum = 0
for i in numbers:
    sum = sum + i
    List_af = len(numbers)
    Average = sum / List_af
print(Average)

30.0

In [33]:
#Print all even and odd numbers from 0 to 20

for i in range(1, 11):
    if i % 2 == 0:
        print('even numbers:', i)
    else:
        print('odd numbers:', i)

odd numbers: 1
even numbers: 2
odd numbers: 3
even numbers: 4
odd numbers: 5
even numbers: 6
odd numbers: 7
even numbers: 8
odd numbers: 9
even numbers: 10

In [35]:
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [36]:
#Break the loop if a number is greater than 15

numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
        break
    else:
        print(i)

1
4
7
8
15

In [38]:
#count the total number of m in the name 
name = "mariya mennen"
count = 0
for char in name:
    if char != 'm':
        continue
    else:
        count = count + 1
print('total number of m is:', count)

total number of m is: 2

In [41]:
name = "mariya mennen"
count = 0
for char in name:
    if char != 'm':
        continue
    else:
        count = count + 1

print('Total number of m is:', count)

Total number of m is: 2

In [42]:
#In this example, We are printing print only the first two numbers out of 5
count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)

1
2

In [44]:
# Reversed numbers using reversed() function
list1 = [10, 20, 30, 40]
for u in reversed(list1):
        print(u)

40
30
20
10

In [46]:
#Reverse list using reversed() function
list2 = [1,2,3,4,5]
for v in reversed(list2):
    print(v)

5
4
3
2
1

In [48]:
#Reverse list using loops
list3 = [1,2,3,4,5,6]
for t in list3[::-1]:
    print(t)

6
5
4
3
2
1

In [50]:
for numbers in range(1, 10):
    print(numbers)

1
2
3
4
5
6
7
8
9

In [51]:
numbers = []
for i in range(2, 8):
    numbers.append(i**2)

print(numbers)

[4, 9, 16, 25, 36, 49]

In [53]:
numbers = []
for u in range(2, 8):
    reversed_u = str(u)[::-3]
    print(reversed_u)

2
3
4
5
6
7

In [55]:
numbers = []
for i in range(2, 8):
    reversed_i = str(i)[::-1]
    print(reversed_i)

2
3
4
5
6
7

In [57]:
#Write a program to rint the cube of all numbers from 1 to a given number
n = 5
for i in range(1, n + 2):
    cube = i**3
    print('cube of:', i ,'is:', cube)

cube of: 1 is: 1
cube of: 2 is: 8
cube of: 3 is: 27
cube of: 4 is: 64
cube of: 5 is: 125
cube of: 6 is: 216

In [59]:
#Write a program to rint the cube of all numbers from 1 to a given number
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [60]:
# loops
seq = [1,2,3,4,5]
for num in seq:
    print('hurraY')

hurraY
hurraY
hurraY
hurraY
hurraY

In [62]:
i = 1
while i < 5:
    print('i is:{}'.format(i))
    i = i+1

i is:1
i is:2
i is:3
i is:4

In [63]:
for num in seq:
    num = num**2
    print(num)

1
4
9
16
25

In [65]:
#Loops with Pablo
Job_openings = ['Data Analyst','Data Scientist','Product Designer','Blockchain Developer']
for Job_openings in Job_openings:
    if Job_openings == 'Data Scientist':
        print('sorry, we are not hiring for a data science role')
    else:
        print('we are hiring for a ' + Job_openings + '.')
print('thank you for checking our Job_openings')

we are hiring for a Data Analyst.
sorry, we are not hiring for a data science role
we are hiring for a Product Designer.
we are hiring for a Blockchain Developer.
thank you for checking our Job_openings

In [66]:
#looping through dictionaries
user = {'name': 'Olufunmi Gbenga', 'Age': 33, 'Favorite': 'Beans'}
user['Occupation'] = 'Data Analyst'

In [67]:
user

{'name': 'Olufunmi Gbenga',
 'Age': 33,
 'Favorite': 'Beans',
 'Occupation': 'Data Analyst'}

In [68]:
for key, value in user.items():
    print(f"\nkey: {key}")
    print(f"value: {value}")

key: name
value: Olufunmi Gbenga

key: Age
value: 33

key: Favorite
value: Beans

key: Occupation
value: Data Analyst

In [69]:
user = {'name': 'Olufunmi Gbenga', 'Age': 33, 'Favorite': 'Beans'}
user['Occupation'] = 'Data Analyst'

In [70]:
user

{'name': 'Olufunmi Gbenga',
 'Age': 33,
 'Favorite': 'Beans',
 'Occupation': 'Data Analyst'}

In [71]:
for key in user.keys():
    print(key)
    
for item in user.items():
    print(item)

name
Age
Favorite
Occupation
('name', 'Olufunmi Gbenga')
('Age', 33)
('Favorite', 'Beans')
('Occupation', 'Data Analyst')

In [74]:
#Nesting
# create three profiles
profile1 = {'name': 'Gbenga', 'Position': 'Data Analyst', 'Location': 'Abuja'}
profile2 = {'name': 'Samuel', 'Position': 'Software Developer', 'Location': 'Lagos'}
profile3 = {'name': 'Grace', 'Position': 'Front end', 'Location': 'Abeokuta'}

In [75]:
#create a list
profiles = [profile1, profile2, profile3]

In [77]:
#Loop through the profiles
for profile in profiles:
    print(profile)

{'name': 'Gbenga', 'Position': 'Data Analyst', 'Location': 'Abuja'}
{'name': 'Samuel', 'Position': 'Software Developer', 'Location': 'Lagos'}
{'name': 'Grace', 'Position': 'Front end', 'Location': 'Abeokuta'}

In [78]:
#Create a dict with list as values
profile_DA = {'name': 'Gbenga',
                  'profile': ['Rich','Famous','Senior man','Life of the party']}
profile_SD = {'name': 'Samuel',
             'profile': ['Tall','Gentle','Too serious','sharp']}
profile_FE = {'name': 'Grace',
             'profile': ['Preety','Amiable','Soft Spoken','Kind hearted']}

In [80]:
#Now to loop through these dict with list
for techies, profile in profile_DA.items():
    print(techies)
    print(profile)

for techies, profile in profile_SD.items():
    print(techies)
    print(profile)

name
Gbenga
profile
['Rich', 'Famous', 'Senior man', 'Life of the party']
name
Samuel
profile
['Tall', 'Gentle', 'Too serious', 'sharp']

In [82]:
Vacant_Positions = ['Chemistry', 'Physics', 'Mathematics', 'Geography']
for Vacant_Positions in Vacant_Positions:
    if Vacant_Positions == 'Chemistry':
        print('we are hiring')
    else:
        print('Sorry, we are not hiring '  +  Vacant_Positions + ' teacher' + '.')
print('You may please check back some other time.Thank you!')

we are hiring
Sorry, we are not hiring Physics teacher.
Sorry, we are not hiring Mathematics teacher.
Sorry, we are not hiring Geography teacher.
You may please check back some other time.Thank you!

In [84]:
#looping through dictionaries
Scholars = {'name': 'Confidence Orunchukwu Okoh', 'Age': 14, 'Best Subjects': ['Mathematics','Financial Accounting']}
for key, value in Scholars.items():
    print(f"\nkey: {key}")
    print(f"values: {value}")

key: name
values: Confidence Orunchukwu Okoh

key: Age
values: 14

key: Best Subjects
values: ['Mathematics', 'Financial Accounting']

In [86]:
n = 8
factorial = 1
while n > 0:
    factorial *= n
    n -= 1
    print(factorial)

8
56
336
1680
6720
20160
40320
40320

In [89]:
#Write a program to print the cube of all numbers from 1 to a given number
y = 6
for y in range(1, 7):
    cube = y**3
    print(cube)

1
8
27
64
125
216

In [92]:
#Write a program to print the cube of all numbers from 1 to a given number
y = 6
for y in range(1, 7):
    print('Current number is:', y, 'and the cube is:', (y*y*y))

Current number is: 1 and the cube is: 1
Current number is: 2 and the cube is: 8
Current number is: 3 and the cube is: 27
Current number is: 4 and the cube is: 64
Current number is: 5 and the cube is: 125
Current number is: 6 and the cube is: 216

In [93]:
#Find the sum of the series up to n terms
#Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)
# or can be print('The sum of series up to' n, 'terms is:',result)

2+22+222+2222+22222+
Sum of above series is: 24690